html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--PrimaryBackground);
  color: var(--PrimaryText);
  user-select: none;
  -webkit-user-select: none;
  font-family: 'SeoulAlrim', sans-serif;
}

picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  word-break: keep-all;
}
h1 {
  font-size: 2em;
  line-height: 1.2;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--blue);
}

button {
  cursor: pointer;
}

a, button {
  font-family: "SeoulAlrim", sans-serif;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Pretendard GOV", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  word-break: auto-phrase;
}
p > span.bold {
  font-weight: bold;
  background-color: var(--HighlightBackground);
}

select {
  font-family: "Pretendard GOV", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  word-break: auto-phrase;
}
:root {
  --PrimaryBackground: #f2f2f7;
  --SecondaryBackground: #ffffff;
  --PrimaryText: #000000;
  --ListBackground: #f2f2f7;
  --BlurBackground: rgba(255, 255, 255, .4);
  --HighlightBackground: rgba(0, 122, 255, .2);
  --blue: #007aff;
  --red: #ff3b30;
  --yellow: #ffcc00;
  --green: #34c759;
  --SMRT5: #603295;
  --SMRT6: #CC5D0C;
  --SMRT7: #4D5613;
  --SMRT8: #F73663;
}

@media (prefers-color-scheme: dark) {
  :root {
    --SecondaryBackground: #1c1c1e;
    --PrimaryBackground: #000000;
    --PrimaryText: #ffffff;
    --ListBackground: #2c2c2e;
    --BlurBackground: rgba(22, 22, 23, .4);
    --HighlightBackground: rgba(10, 132, 255, .4);
    --blue: #0a84ff;
    --red: #ff453a;
    --yellow: #ffd60a;
    --green: #30d158;
    --SMRT5: #996CAC;
    --SMRT6: #CD7C2F;
    --SMRT7: #747F00;
    --SMRT8: #E6186C;
    --primaryBlur: blur(10px) saturate(180%);
  }
}
/*
@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream1.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream2.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream3.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream4.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream5.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream6.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream7.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream8.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "SCDream";
  src: url("../fonts/SCDream9.woff2") format("woff2");
  font-weight: 900;
}
*/

@font-face {
  font-family: "SeoulAlrim";
  src: url("../fonts/SeoulAlrim-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SeoulAlrim";
  src: url("../fonts/SeoulAlrim-Bold.woff2") format("woff2");
  font-weight: 700;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard GOV.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard GOV Black'), url(../fonts/woff2-subset/PretendardGOV-Black.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Black.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard GOV ExtraBold'), url(../fonts/woff2-subset/PretendardGOV-ExtraBold.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-ExtraBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard GOV Bold'), url(../fonts/woff2-subset/PretendardGOV-Bold.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard GOV SemiBold'), url(../fonts/woff2-subset/PretendardGOV-SemiBold.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-SemiBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard GOV Medium'), url(../fonts/woff2-subset/PretendardGOV-Medium.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard GOV Regular'), url(../fonts/woff2-subset/PretendardGOV-Regular.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Regular.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard GOV Light'), url(../fonts/woff2-subset/PretendardGOV-Light.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Light.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard GOV ExtraLight'), url(../fonts/woff2-subset/PretendardGOV-ExtraLight.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-ExtraLight.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard GOV';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard GOV Thin'), url(../fonts/woff2-subset/PretendardGOV-Thin.subset.woff2) format('woff2'), url(../fonts/woff-subset/PretendardGOV-Thin.subset.woff) format('woff');
}
